#norg-edit input {border: none;}
#norg-edit ol {list-style: none;
               border-left-style: dotted;
               border-width: thin;
               margin-left: 0.5em;
               padding-left: 0.5em;
              }