<h4 ng-model="node.headers['Subject']"
    class="norg-subject"
    contentEditable="true">
  {{node.headers['Subject']}}
</h4>
<dl class="norg-headers dl-horizontal" ng-if="node.headers">
  <div ng-repeat="key in filter_headers(node)">
    <dt contentEditable="true">{{key}}:</dt>
    <dd ng-model="node.headers[key]"
        class="norg-headers--{{key}}"
        contentEditable="true">
      {{node.headers[key]}}
    </dd>
  </div>
</dl>
<ol ng-if="node.children"
    class="norg-nodes">
  <li ng-repeat="node in node.children | filter:sanitizeNodeId"
      id="Message-ID-{{node.id}}"
      class="norg-node"
      ng-include="'app/node.tpl.html'">
  </li>
</ol>
