/* norg css stylesheet */
.list-group.norg-nodes,
dl.norg-headers {
    margin-bottom: initial;
}

#norg-edit .btn.disabled,
#norg-edit .btn[disabled] {
    opacity: 0.25;
}

#norg-edit .btn-toolbar {
    margin: 0em;
}
