/* norg css stylesheet */
.list-group.norg-nodes,
dl.norg-headers {
    margin-bottom: initial;
}

#norg-edit .collapse-button.collapsed .glyphicon-collapse-up:before {
    content: "\e159"
}

#norg-edit .cursor-button.btn-default .glyphicon {
    color: transparent;
}