/* norg css stylesheet */
.norg-nodes {
    list-style: none;
}
.norg-nodes .norg-nodes {
    margin-left: 38px;
}

#norg-edit .btn.disabled,
#norg-edit .btn[disabled] {
    opacity: 0.25;
}

.norg-properties {
    margin-left: 152px;
}
input.norg-properties-key {
    width: 203px;
}
