/* norg css stylesheet */

body.norg {
    padding-top: 40px;
}

.norg-nodes {
    list-style: none;
}
.norg-nodes.in {
    overflow: initial;
}
.norg-nodes .norg-nodes {
    margin-left: 38px;
}

#norg-edit .btn.disabled,
#norg-edit .btn[disabled] {
    opacity: 0.25;
}

.norg-node-collapse-button {
    width: 83px;
    text-align: left;
}
#norg-edit .btn input[type="radio"], #norg-edit .btn input[type="checkbox"] {
    margin: 0em;
}
                          
.norg-state .btn {
    width: 110px;
    text-align: left;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.norg-properties {
    margin-left: 346px;
}
.norg-properties-value {
    width: 306px;
}
input.norg-properties-key {
    width: 203px;
}
.norg-properties-expand {
    width: 76px;
    text-align: left;
}